@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html, body {
	margin:0;
	padding:0;
	background-color: #c55b68;
	color: #f0f4fa;
	font-family: "Dosis";
	font-size: 20px;
}

body {
	display: flex;
	flex-direction: column;
}

p, h1, h2, h3, h4 {
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	flex-direction: column;
	margin-bottom: 50px;
}

h3 {
	font-size: 1.2em;
}

table {
	position: relative;
	table-layout: fixed;
	left: 40px;
	width: 80%;
	text-align: center;
}

th {
	padding-bottom: 25px;
}

td {
	padding-bottom: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	filter: brightness(70%);
}

hr {
	width: 70%;
	border: 2px solid;
	border-radius: 2px;
	margin-left: 0;
}

#resume-banner {
	display: block;
	text-align: center;
}

.header {
	position: fixed;
	margin-top: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	background-color: #211c33;
	z-index: 1;
}

.text-top {
	position: absolute;
	left: 0;
	top: 35%;
	background-color: #c55b68;
	height: 30%;
	width: 40%;
	overflow: hidden;
	align-items: center;
}

.side-box-top {
	position: absolute;
	left: 42%;
	top: 35%;
	background-color: #c55b68;
	height: 30%;
	width: 3%;
}

.section {
	display: flex;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.section-top {
	height: 80vh;
	background-image: url("images/Frozen_Memories.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.section-1 {
	background-color: #c55b68;
	color: #f0f3fa;
}
.section-2 {
	background-color: #d1e5f0;
	color: #b84a6b;
}

.section-footer {
	background-color: #211c33;
	height: 160px;
}

.header-text {
	padding: 15px;
}

.text-left {
	position: relative;
	top:0;
	left:0;
	padding-top:40px;
}

.text-right {
	position: relative;
	text-align: right;
	justify-content: flex-end;
}

.text-right-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

.table-title{
	font-size:1.2em;
	font-weight: bold;
}

.table-right {
	margin-left: auto;
	margin-right: 40px;
	right: 40px;
}

.work-images {
	max-height: 120px;
}

.education-images-resume {
	max-width: 100px;
}

.social-media {
	width: 200px;
	top: 30px;
	word-break: break-all;
}

.social-media-images {
	max-height: 28px;
}

.flex-table {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	text-align: center;
}

.flex-table-column {
	display: flex;
	padding-left: 10vw;
	flex-flow: column-reverse wrap;
	align-content: flex-start;
}

.flex-table-resume {
	display: flex;
	align-content: flex-start;
	flex-flow: row nowrap;
	text-align: left;
	align-items: center;
	max-width: 80vw;

	margin-bottom: 20px;
}

.see-resume {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 40px;
	justify-content: right;

	font-size: 1.4em;
	right: 40px;
}

.flex-vertical {
	flex-direction: column;
}

.container {
	display: absolute;
	margin-top: 70px;
}

.sehr-container {
	margin-left: 9vw;
	margin-right: 9vw;
}

.sehr-container h1 {
	color: #f9dc9a;
}
.sehr-container h3 {
	color: #211c33;
}
.sehr-container li {
	margin-left: 30px;
}

.bday-image {
	height: 100vh;
	margin-top: 40px;
	margin-bottom: 60px;
	padding: 30px;

	border-style: solid;
	border-width: 4px;
	color: #f9dc9a;
}

.resume-header-top {
	margin-top: 40px;
	padding-top: 0px;
}

.quote {
	margin-left: 15%;
	margin-right: 15%;
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	color: #f9dc9a;
}